* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: rgb(118, 118, 118);
      background: radial-gradient(
        circle,
        rgba(118, 118, 118, 1) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }

    h1 {
      text-align: center;
      color: white;
      height: 100vh;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 72px;
      color: black;
    }